
.btn {
  padding: 15px 30px;
  /* Adjust padding for bigger button size */
  font-size: 18px;
  /* Adjust font size to make the text larger */
}

.nav-link {
  color: white;
  /* Ensure the link text color is visible */

}

.navbar {
  background-color: #295297;
}

/* Add a wrapper class to make sure the stepper stays centered */
.vertical-stepper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 20px;
}

.vertical-stepper {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  /* Set max width for stepper */
}

.stepper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.step-line {
  position: absolute;
  width: 2px;
  background-color: #e9ecef;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.step-content {
  width: 45%;
  padding: 15px;
}

.step-circle {
  width: 170px;
  height: 170px;
  background-color: #e9ecef;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.step-circle img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  object-fit: cover;
}

.step:nth-child(even) {
  flex-direction: row;
}

.step:nth-child(odd) {
  flex-direction: row-reverse;
}

.step:nth-child(odd) .step-content {
  text-align: left;
  margin-left: 699px;
}

.step:nth-child(even) .step-content {
  text-align: right;
  margin-right: 699px;
}

.step:last-child {
  flex-direction: column;
  text-align: center;
}

@media (max-width: 650px) {
  .step {
    flex-direction: column !important;
    align-items: center;
    width: 90%;
  }

  .step-content {
    width: 90%;
    margin-bottom: 10px;
  }

  .step-circle {
    width: 100px;
    height: 100px;
  }

  .step-line {
    left: 50%;
  }
}

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Section Title */
.section-title {
  font-size: 36px;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Timeline Styling */
.timeline {
  position: relative;
  padding: 40px 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 4px;
  background: #6c757d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

/* Timeline Item */
.timeline-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  animation: fadeInUp 0.7s forwards;
  margin-bottom: 50px;
}

/* Timeline Image */
.timeline-image {
  position: relative;
  z-index: 2;
  margin-left: 30px;
  margin-right: 30px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center image */
.timeline-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/* Timeline Panel */
.timeline-panel {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  width: 75%;
}

/* Timeline Panel Left */
.timeline-panel-left {
  text-align: left;
}

/* Timeline Panel Right */
.timeline-panel-right {
  text-align: right;
}

/* Heading and Text */
.timeline-heading {
  margin-bottom: 20px;
}

.year {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

.subheading {
  font-size: 22px;
  color: #555;
  text-transform: capitalize;
}

.timeline-body {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.timeline-body p {
  margin-bottom: 10px;
}

/* Final Call-to-Action */
.cta-text {
  color: #fff;
  background-color: #007bff;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  display: block;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cta-text:hover {
  background-color: #0056b3;
}

/* Animations for Timeline */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .timeline-item {
    flex-direction: column;
    align-items: center;
  }

  .timeline-panel {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }

  .timeline-image {
    margin-left: 0;
    margin-right: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline:before {
    left: 50%;
    height: 70%;
  }
}

section#contact {
  background-color: #295297;
  background-image: url("/static/map.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
