{% extends "base.html" %}
{% block content %}

  <div class="form-container">
    <h2>Add a New Project</h2>
  {{form.media}}
    <form action="{% url 'add_project' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }} 
        <button type="submit" class="btn w-100 mb-3" style="background-color: rgb(43, 71, 100); color: white;">Create Project</button>
    </form>
    <a href="{% url 'project_list' %}" class="btn btn-outline-secondary w-100">Cancel</a>
                
{% endblock %}
